// Utiles
@keyframes leftToRight {
    from {
        transform: translateX(-800px);
    } to {
        transform: translateX(2100px);
    }
}
@keyframes rightToLeft {
    from {
        transform: translateX(2000px);
    } to {
        transform: translateX(-1400px);
    }
}
@keyframes breathingColored {
    from {
        transform: scale(97%);
        color: rgb(146, 57, 5);
        opacity: 0.5;
    } to {
        transform: scale(100%);
        color: rgba(74, 57, 221, 0.678);
        opacity: 1;
    }
}
@keyframes breathing {
    from {
        transform: scale(95%);
    } to {
        transform: scale(100%);
    }
}

// Starter pokeball
@keyframes pokeball {
    0%, 20%, 40%, 60%, 80% {
        transform: rotate(0deg);
    }
    10%, 50%, 90% {
        transform: rotate(10deg);
    }
    30%, 70% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes reveal {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes pokeballmessage {
    from {
        opacity: 0;
        transform: scale(0%);
    } to {
        opacity: 1;
        transform: scale(100%);
    }
}
@keyframes pokeballDisabled {
    from {
        opacity: 1;
        transform: scale(100%);
    } to {
        opacity: 0.5;
        transform: scale(80%);
    }
}
@keyframes battleTitle {
    from {
        transform: scale(0.8) scaleX(1.6);
        opacity: 0.6;
        color: beige;
    }
}


// Combat
// apparition pokemon player
@keyframes playerAppears {
    0% {
      transform: translateX(-100%) scaleY(1);
    }
    30% {
      transform: scaleY(1.3); 
    } 
    60% {
      transform: scaleY(0.8);
    }
    70% {
        transform: scaleY(1.6);
    }
    80% {
        transform: scaleY(0.5);
    }
    90% {
        transform: scaleY(1.2);
    }
    100% {
      transform: translateX(0) scaleY(1); 
  }
}  
// apparition pokemon enemmi
@keyframes enemyAppears {
    0% {
      transform: translateX(200%) scaleY(1);
    }
    30% {
      transform: scaleY(1.3); 
    } 
    60% {
      transform: scaleY(0.8);
    }
    70% {
        transform: scaleY(1.6);
    }
    80% {
        transform: scaleY(0.5);
    }
    90% {
        transform: scaleY(1.2);
    }
    100% {
      transform: translateX(0) scaleY(1); 
  }
} 
// pokemon ko
@keyframes isKO {
    0% {
        height: 15rem;
        opacity: 1;
    }
    10% {
        height: 15.5rem;
        opacity: 1;
    }
    25% {
        height: 15rem;
        opacity: 1;
    }
    90% {
        height: 10rem;
        opacity: 1;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}



// bulle texte 
@keyframes messageBubble {
    0% {
        opacity: 1;
        transform: translateY(8px);
    } 
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(7px);
    }
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}