@use 'global' as *;
@use 'animations' as*;


.controls-menu {
    position: absolute;
    bottom: 35rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }

    &__btn {
        font-family: $font-family-pkmn;
        font-size: 15px;
        height: 3rem;
        width: 12rem;
        padding-inline: 10px;
        border-radius: 10px;
        border: 4px double black;
        background-color: rgb(247, 247, 230);
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            height: 3.2rem;
            width: 12.5rem;
            border-radius: 15px;
            border: none;
        }

        &:disabled,
        &[disabled] {
            opacity: 0.4;
            cursor: not-allowed;
            background-color: #d3d3d3;
            color: #666;
            filter: grayscale(100%);
            &:hover {
                height: 3rem;
                width: 12rem;
                border-radius: 10px;
                border: 4px double black;
                background-color: #d3d3d3;
                color: #666;
            }
        }

        &--team {
            transform: translateX(-300px);
            animation: slideInLeft 0.5s ease-out forwards 0.5s;
            transition: 0.2s;
            &:hover {
                background: linear-gradient(140deg,rgba(101, 205, 207, 1) 0%, rgb(26, 21, 83) 100%);
                color: beige;
            }
        }

        &--inventory {
            transform: translateX(-300px);
            animation: slideInLeft 0.4s ease-in-out forwards 0.4s;
            transition: 0.2s;
            &:hover {
                background: linear-gradient(140deg,rgb(207, 196, 101) 0%, rgb(87, 79, 5) 100%);
                color: white;
            }
        }

        &--switch {
            transform: translateX(-300px);
            animation: slideInLeft 1s ease forwards 0.6s;
            transition: 0.2s;
            &:hover {
                background: linear-gradient(140deg,rgb(92, 82, 119) 0%, rgb(38, 35, 78) 100%);
                color: beige;
            }
        }
    }
}