@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

// Fonts
$font-family-pkmn: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$pixel-font: 'Pixelify Sans', 'Jost';
$pixel-font-large: 'Jersey 20', 'Jost';
$font-arena: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// Colors 
    // Types 
$colorFeu: rgba(226, 14, 14, 0.76);
$colorEau: rgba(69, 122, 238, 0.863);
$colorplante: rgb(39, 175, 62);
$colorFoudre: rgb(238, 238, 0);
$colorPsy: rgba(184, 73, 184, 0.87);
$colorPoison: rgba(95, 10, 77, 0.877);
$colorVol: rgb(158, 179, 175);
$colorRoche: rgba(105, 105, 105, 0.836);
$colorCombat: rgba(134, 71, 12, 0.753);
$colorSol: rgb(160, 141, 58);
$colorDragon: rgb(56, 35, 46);
$colorTenebres: rgba(29, 29, 29, 0.89);
$colorSpectre: rgba(130, 110, 141, 0.89);
$colorGlace: rgb(38, 201, 255);
$colorInsecte: rgba(19, 78, 19, 0.87);
$colorNormal: linear-gradient(90deg, rgba(224, 238, 224, 0.719) 0%, rgba(184, 248, 164, 0.96) 93%);

    // Hp 
$colorHp: #42e947;
$colorHp-mid: orange;
$colorHp-low: red;

    // Utiles
$colorAttackMenu: linear-gradient(90deg, rgba(161, 185, 175, 0.945) 0%, rgba(205, 214, 166, 0.96) 93%);


// Shadows
$boxshadow: 10px 20px 60px rgba(63, 1, 1, 0.205);
$btnshadow: rgba(241, 238, 238, 0.479) 0px 3px 10px;