@use 'global' as *;
@use 'animations' as*;

// Pokemon starter choice
.starter {
    background: beige;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 0;
    &__title {
        font-size: 5rem;
        font-family: $pixel-font-large;
        color: rgb(71, 120, 255);
        margin-top: 0;
        padding-top: 5rem;
        padding-bottom: 2rem;
        transform: translateX(-100%);
        // transform-origin: center;
        animation: playerAppears 1.5s 0.3s cubic-bezier(.82,-0.2,.24,.96) forwards;
    }
    &__subtitle {
        font-family: $pixel-font-large;
        font-size: 2rem;
        color: rgba(54, 105, 146, 0.795);
        margin: 0;
        padding-bottom: 4rem;
        opacity: 0;
        animation: breathingColored 1s ease-in-out alternate-reverse infinite 5.2s;
    }

    .container-balls {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5rem;
        padding-inline: 12%;
    }
    .pokeball {
        width: 11.3rem;
        height: 11.3rem;
        cursor: pointer;
        border-radius: 100%;
        opacity: 0;
        transform: scale(0);
        transition: transform 1.7s ease 1.7s, opacity 0.7s ease-in-out 1.7s;
        &.visible {
            opacity: 1;
            transform: scale(1);
        }
        &:hover {
            animation: pokeball 1s cubic-bezier(.8,.29,.83,.67) forwards;
            box-shadow: $boxshadow;
        }
        &.disabled {
            pointer-events: none;
            box-shadow: none;
            animation: pokeballDisabled 2.3s 0.5s ease-in-out forwards;
        }
    }
    .pokemon {
        opacity: 0;
        object-fit: fill;
        width: 11.3rem;
        height: auto;
        animation: reveal 1.5s 0.5s ease-out forwards;
    }
    .message-wrapper {
        margin-top: 7.5rem;
        .pokeball-message {
            opacity: 0;
            animation: pokeballmessage 0.6s 2s ease-out forwards;
            font-family: $pixel-font;
            font-size: 2.2rem;
            font-weight: 400;
            color: rgb(87, 78, 78);
        }
    }
}

.fight-link-wrap {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.582);
    padding-block: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 0;
    &__anim {
        animation: slideUp 1.5s forwards 2.5s;
    }
}
.fight-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s ease;
    &:hover {
        font-size: 1.6rem;
        color: white;
        border-bottom: 1px solid rgb(221, 208, 180);
    }
}

