@use 'global' as *;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

// overlay
.overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.overlay--top {
    z-index: 200 !important;  
    background: rgba(0, 0, 0, 0.7);  
}


