@use '../global.scss' as *;

.modal-badges {
    position: fixed;
    left: 33%;
    bottom: 35%;
    border: 6px double white;
    border-radius: 10px;
    background-color: $colorControlsBg;
    padding-inline: 1.5rem;
    padding-block: 1rem;

    &__title {
        font-family: $font-family-pkmn;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: darken($colorCombat, 25%);
        margin-top: 0.7rem;
    }

    &__section {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 0.5rem;
    }

    &__card {
        background: linear-gradient(to bottom, #f7f8f8, #bbb678);
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 280px;
        height: 320px;
        padding: 1rem;
        
        &__img {
            width: 8rem;
            height: 10rem;
            object-fit: contain;
            image-rendering: optimizeQuality;
            margin-left: 10px;
            background-color: rgba(255, 255, 255, 0.356);
            border-radius: 80%;
            padding-inline: 40px;
            padding-block: 20px;
            margin-block: 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        &__infos {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            margin-top: 0.5rem;
        }

        &__name {
            font-family: $pixel-font-large;
            font-size: 1.7rem;
        }

        &__desc {
            font-family: $font-arena;
            font-size: 15px;
            border-radius: 8px;
            padding: 6px;
            background-color: #f5f3e47a;
        }

    }

    &__close {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 20%;
        font-family: $font-family-pkmn;
        font-size: 0.9rem;
        border-radius: 6px;
        border: none;
        padding-inline: 6px;
        padding-block: 4px;
        background: linear-gradient(to right, #294b5a, #306172, #47829b);
        color: rgb(245, 245, 231);
        box-shadow: rgba(138, 132, 103, 0.555) 2px 2px 15px 2px;
        transition: 0.2s ease;
        opacity: 0.8;
        cursor: pointer;
        &:hover {
            background: linear-gradient(to top, #294b5a, #306172, #47829b);
            box-shadow: rgba(196, 191, 170, 0.753) 2px 2px 15px 2px;
            width: 100%;
            padding-block: 15px;
            font-size: 1.2rem;
            opacity: 1;
        }
    }

}