@use '../global' as *;
@use '../animations' as *;

// afficher team player
.modal-team {
    z-index: 5;
    position: absolute;
    bottom: 59%;
    left: 13%;
    background-color: $colorControlsBg;
    border: 5px double darken($colorGlace, 50%);
    border-radius: 8px;
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__title {
        text-align: center;
        font-family: $pixel-font-large;
        font-weight: 300;
        color: darken($colorEau, 50%);
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 18px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-bottom: 1rem;
        gap: 10px;
        width: auto;
    }

    &__card {
        width: auto;
        height: 3.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-bottom: 16px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 20px;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            box-shadow: $boxshadow;
        }
    }

    &__img {
        image-rendering: pixelated;
        min-width: 2.5rem;
        height: auto;
        object-fit: contain;
        margin-right: 0.5rem;
    }

    &__name {
        font-family: $pixel-font-large;
        color: darken($colorCombat, 20%);
        font-size: 1rem;
        padding-right: 20px;
        margin-bottom: auto;
    }

    &__hp {
        font-family: $font-arena;
        font-size: 8px;
        background-color: darken($colorHp, 40%);
        border-radius: 5px;
        color: rgb(245, 232, 207);
        width: 40px;
        padding-inline: 3px;
        opacity: 0.8;
    }

    &__cancel {
        font-family: $pixel-font-large;
        font-size: 1.2rem;
        background-color: darken($colorEau, 40%);
        opacity: 0.8;
        color: wheat;
        border: 1px dotted black;
        border-radius: 6px;
        padding: 4px;
        box-shadow: rgba(97, 97, 93, 0.432) 0px 3px 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: darken($colorEau, 30%);
            opacity: 1;
        }
    }

    &__badge {
        width: 10px;
        height: 10px;
        margin-bottom: auto;
        border: 1px dotted white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px, rgba(0, 0, 0, 0.23) 0px 2px 5px;
        &--active {
            background: linear-gradient(120deg,rgb(35, 124, 41) 0%, rgba(17, 214, 17, 1) 100%);
            animation: caret-blink 1.5s linear infinite alternate-reverse;
        }
        &--ko {
            background: linear-gradient(120deg,rgb(146, 117, 100) 0%, rgb(196, 63, 11) 100%);   
        }
    }
}



// remplacer un pokemon si equipe pleine
.container {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
}

.modal-team-replace {
    background: rgb(219, 212, 212);
    padding: 20px;
    border-radius: 10px;
    border: 10px double #0f3442b4;
    max-width: 500px;
    width: 90%;
    font-family: $font-arena;
    position: relative;
    text-align: center;

    &__title {
        text-align: center;
        margin: 0;
        color:  #0f3442;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;
    }
    
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;
        padding: 10px;
        border: 2px solid #373b4136;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-color: rgb(240, 240, 229);
            border-color: #1e7a9ec4;
        }
    }

    &__img {
        image-rendering: pixelated;
        object-fit: contain;
        width: 4rem;
        margin-right: 3rem;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    &__name {
        font-family: $pixel-font-large;
        font-size: 1.2rem;
    }

    &__type {
        font-size: 0.9rem;
        border-radius: 8px;
        padding-inline: 8px;
        color: beige;
  }


    &__showBtn {
        margin-right: 1.5rem;
        margin-left: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #a0d7ecb4;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        &:hover {
            background-color: #187da1;
            color: beige;
        }
    }

    &__cancel {
        font-size: 14px;
        color: beige;
        border: none;
        border-radius: 10px;
        padding-inline: 18px;
        padding-block: 6px;
        background-color:  #187da1;
        cursor: pointer;
        &:hover {
            color: white;
            background-color:  #105770;
        }
    }
}

$type-base-colors: (
  'Feu': #f08030,
  'Eau': #6890f0,
  'Plante': #78c850,
  'Foudre': #f8d030,
  'Psy': #f85888,
  'Combat': #c03028,
  'Normal': #a8a878,
  'Vol': #a890f0,
  'Poison': #a040a0,
  'Sol': #e0c068,
  'Roche': #b8a038,
  'Insecte': #a8b820,
  'Spectre': #705898,
  'Dragon': #7038f8,
  'Tenebres': #705848,
  'Glace': #98d8d8
);

.modal-team-replace__type {
  @each $type, $color in $type-base-colors {
    &[class*="#{$type}"] {
      background: $color
    }
  }
}