@use '../global.scss' as *;
@import '../types-colors.scss';

.pokemon-resume {
    position: absolute;
    left: 35%;
    bottom: 35%;
    z-index: 200;
    border: 1px solid;
    background-color: white;
    font-family: $font-arena;

    &__wrapper {
        padding: 8px;
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__img {
        image-rendering: pixelated;
        width: 15rem;
        max-height: 9rem;
        object-fit: contain;
        margin-left: 1rem;
    }

    &__name {
        font-family: $pixel-font-large;
        font-size: 2.5rem;
        margin-left: auto;
        margin-right: 2.5rem;
    }

    &__type {
        font-family: $font-arena;
        margin-top: 1rem;
        margin-left: 2.5rem;
        border-radius: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include apply-type-colors('&')
    }

    &__hp {
        margin-left: auto;
        margin-right: 2.5rem;
        margin-top: 1rem;
        background-color: lighten($colorHp, 30%);
        padding-block: 3px;
        padding-inline: 20px;
        border: 1px solid green;
        border-radius: 10px;
    }

    &__moveset {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        text-align: center;
        margin-inline: 1rem;

        &__card {
            background-color: beige;
            border-radius: 6px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &__header {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-bottom: 1px dashed;
            border-radius: 4px;
            padding-bottom: 4px;
        }

        &__name {
            font-weight: 600;
            font-size: 1.1rem;
        }

        &__type {
            font-size: 14px;
            @include apply-type-colors('&');
            padding-inline: 6px;
            border-radius: 10px;
        }

        &__stats {
            font-size: 0.9rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 3px;
            
        }
        
        &__pp {
            font-weight: 600;
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        left: 1rem;
        border: none;
        border-radius: 5px;
        font-family: $pixel-font-large;
        background-color: rgba(228, 163, 163, 0.911);
        color: white;
        cursor: pointer;
        &:hover {
            background-color: rgba(194, 50, 50, 0.911);
        }
    }
}