@use '../global.scss' as * ;
@use '../animations.scss' as * ;


$poke-bg:       #fdfdfd;
$poke-border:   #808ea7;
$poke-shadow:   rgba(0, 0, 0, 0.35);
$poke-accent:   #ffcc00;

.overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-choice {
  background: $poke-bg linear-gradient(180deg, #ffffff 0%, #f6f6f6 100%);
  border: 2px solid $poke-shadow;
  border-radius: 12px;
  box-shadow:
    0 2px 0 0 $poke-border, 
    0 12px 20px $poke-shadow;
  max-width: 800px;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: slideUp 1.5s ease-out forwards;
}

.modal-choice__title {
  font-size: 2rem;
  font-family: $pixel-font-large;
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba($poke-border, 0.15);
}

.modal-choice__content {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.modal-choice__confirmBtn {
  align-self: center;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(231, 226, 217);
  // background: $colorSpectre;
  background: darken($colorPsy, 35%);
  border: 1px solid $poke-accent;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 0 0 $poke-border;
  opacity: 0;
  animation: slideUp 1.3s ease-out forwards 1.5s;
  &:hover {
    background: $poke-bg linear-gradient(90deg, #063c5eb4 0%, #544868 100%);
    border-radius: 17px;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 0 $poke-border;
  }
}

// Random card
.random-container {
  width: 100%;

  @media (max-width: 620px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}


.random-card {
  background: $poke-bg linear-gradient(180deg, #ffffff 0%, #f6f6f6 100%);
  border: 1px solid $poke-border;
  border-radius: 100px;
  box-shadow:
    0 1px 0 0 $poke-border,
    0 10px 18px $poke-shadow;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: transform .08s ease, box-shadow .08s ease, filter .08s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    inset: -16px;
    border: 1px solid $poke-border;
    border-radius: 100px;
    pointer-events: none;
    opacity: 0; 
    transition: opacity .12s ease;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow:
      0 2px 0 0 $poke-border,
      0 6px 12px $poke-shadow;
  }
}

.random-card__img {
  width: 5rem;
  aspect-ratio: 4 / 3; // garde une forme régulière
  object-fit: contain;
  display: block;
  padding: 1rem;
}

.random-card__title {
  font-weight: 700;
  font-size: 1rem;
  color: #111;
  font-family: $pixel-font;
  padding-bottom: 0.5rem;
}

.random-card__description {
  font-size: .9rem;
  color: #333;
  padding: 0 12px 12px;
  min-height: 2.2em; // évite les sauts si description courte
}

// Modificateurs
.random-card--selected {
  outline: 3px solid $poke-accent;
  transform: translateY(-2px);
  background: $poke-bg linear-gradient(180deg, #063c5eb4 0%, #f6f6f6 100%);
  box-shadow:
    0 2px 0 0 $poke-border,
    0 10px 20px $poke-shadow;

  &::before {
    opacity: 1;
  }
}

// .random-card--disabled {
//   filter: grayscale(0.7) brightness(0.95);
//   opacity: 0.7;
//   cursor: default;
// }
