@use 'global'as *;

.hidden {
    display: none;
}

// Pokemon battle arena
.battlefield {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &::before {
        background-image: url(../img/battlefield_grass.jpg);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        opacity: 0.8;
    }
    &__title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 7rem;
        font-weight: 200;
        color: beige;
        text-align: center;
        margin-bottom: 0;
        margin-top: 4rem;
        animation: battleTitle 3s 0.2s linear infinite alternate-reverse;
    }
    // Birds decoration
    .birds {
        width: 4rem;
        height: 3rem;
        transform: translateX(-100px);
        animation: leftToRight 20s linear infinite;
        padding-top: 0.5rem;
        padding-bottom: 3rem;
    }
    .bird {
        width: 1rem;
        height: auto;
        display: block;
        transform: translateX(2000px);
        animation: rightToLeft 15s 2s linear infinite;
        padding-bottom: 1.5rem;
    }
}

// Battle zone
.arena {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 22%;
    height: 63vh;
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 5.2rem;
        &__name {
            display: block;
            margin: 0;
            padding-bottom: 2rem;
            font-family: $font-arena;
            font-size: 1.2rem;
            color: beige;
        }
        &__pkmn {
            width: 14rem;
            height: 15rem;
            object-fit: contain;
            animation: breathing 2s 0.5s linear infinite alternate-reverse;
            cursor: pointer;
            position: relative;
            margin-bottom: 3rem;
        }
    }
    .player-appears {
        transform: translateX(-2000px);
        animation: slideInLeft 1.3s 0.8s ease-out forwards;

    }
    .enemy-appears {
        transform: translateX(2000px);
        animation: slideInRight 1.5s 1.6s ease-in-out forwards;
    }



    // Attack menu
    .attack-menu {
        position: absolute;
        bottom: 18%;
        left: 30%;
        background: linear-gradient(90deg, rgba(207, 221, 215, 0.945) 0%, rgba(227, 235, 190, 0.96) 93%);
        border: 2px solid #ffffff;
        padding: 0.8rem;
        border-radius: 10px;
        box-shadow: $boxshadow;
        font-family: $pixel-font-large;
        z-index: 10;
        table {
            border-collapse: collapse;
            width: 240px;
            font-size: 1.2rem;
            color: rgb(61, 61, 61);
        }
        th {
            color: rgba(27, 27, 27, 0.897);
            font-family: $pixel-font;
            border-radius: 10px;
            padding-bottom: 0.5rem;
            font-size: 1rem;
        }
        td {
            padding-block: 0.3rem;
            padding-inline: 8px;
        }
        .pp {
            text-align: center;
            font-size: 1rem;
            color: rgb(90, 89, 89);
        }
        .attack {
            border-radius: 20px;
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

}

// Bulle de message
.battle-txt-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    .battle-txt {
        border: 1px solid rgba(54, 53, 50, 0.897);
        border-radius: 6px;
        background-color: rgb(236, 229, 216);
        width: 25%;
        height: auto;
        text-align: center;
        font-family: $pixel-font;
        padding: 4px;
        font-weight: 100;
        font-size: 1.3rem;
        color: rgba(65, 65, 65, 0.87);
        opacity: 0;
        animation: pokemonTxt 1.6s ease forwards;
    }
    .pokemon-txt {
        border: 1px solid rgba(54, 53, 50, 0.897);
        border-radius: 6px;
        background-color: rgb(235, 221, 196);
        width: 30%;
        height: auto;
        text-align: center;
        font-family: $pixel-font;
        padding: 4px;
        font-weight: 100;
        font-size: 1.3rem;
        color: rgba(14, 4, 102, 0.74);
        opacity: 0;
        animation: pokemonTxt 2.4s ease forwards 2.7s;
    }
}


// Barre de vie
.hp-bar {
    width: 100%;
    height: 10px;
    background-color: #fffcfc34;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px 0;
}

.hp-fill {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #42e947; /* Vert */
    transition: width 0.5s ease;
}

.hp-fill.mid {
    background-color: orange !important;
}

.hp-fill.low {
    background-color: red !important;
}

.hp-value {
    font-size: 0.8rem;
    display: block;
    margin-top: 4px;
    font-family: $font-arena;
    color: rgb(233, 245, 214);
    font-size: 0.9rem;
    font-weight: 400;
    background-color: rgba(48, 47, 47, 0.384);
    border-radius: 15px;
    padding: 2px;
}






// Couleurs types attaques menu
.type-Feu:hover {
    background-color: rgba(226, 14, 14, 0.76);
    color: rgba(227, 235, 190, 0.96);
}
.type-Eau:hover {
    background-color: rgba(69, 122, 238, 0.863);
    color: rgba(227, 235, 190, 0.96);
}
.type-Plante:hover {
    background-color: rgba(137, 216, 18, 0.911);
}
.type-Foudre:hover {
    background-color: rgb(238, 238, 0);
}
.type-Psy:hover {
    background-color: rgba(192, 75, 192, 0.87);
    color: rgba(227, 235, 190, 0.96);
}
.type-Poison:hover {
    background-color: rgba(95, 10, 77, 0.877);
    color: rgba(227, 235, 190, 0.96);
}
.type-Vol:hover {
    background-color: rgb(161, 197, 191);
}
.type-Roche:hover {
    background-color: rgba(105, 105, 105, 0.836);
    color: rgba(227, 235, 190, 0.96);
}
.type-Combat:hover {
    background-color: rgba(134, 71, 12, 0.753);
    color: rgba(227, 235, 190, 0.96);
}
.type-Sol:hover {
    background-color: rgb(160, 141, 58);
}
.type-Dragon:hover{
    background-color: rgb(43, 29, 36);
    color: rgba(227, 235, 190, 0.96);
}
.type-Normal:hover {
    background: linear-gradient(90deg, rgba(161, 185, 175, 0.945) 0%, rgba(205, 214, 166, 0.96) 93%);
}