@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");
@keyframes leftToRight {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(2100px);
  }
}
@keyframes rightToLeft {
  from {
    transform: translateX(2000px);
  }
  to {
    transform: translateX(-1400px);
  }
}
@keyframes breathingColored {
  from {
    transform: scale(97%);
    color: rgb(146, 57, 5);
    opacity: 0.5;
  }
  to {
    transform: scale(100%);
    color: rgba(74, 57, 221, 0.678);
    opacity: 1;
  }
}
@keyframes breathing {
  from {
    transform: scale(95%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes pokeball {
  0%, 20%, 40%, 60%, 80% {
    transform: rotate(0deg);
  }
  10%, 50%, 90% {
    transform: rotate(10deg);
  }
  30%, 70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pokeballDisabled {
  from {
    opacity: 1;
    transform: scale(100%);
  }
  to {
    opacity: 0.5;
    transform: scale(75%);
  }
}
@keyframes pokeballmessage {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes battleTitle {
  from {
    transform: scale(0.8) scaleX(1.6);
    opacity: 0;
  }
}
@keyframes playerAppears {
  0% {
    transform: translateX(-100%) scaleY(1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(0.8);
  }
  70% {
    transform: scaleY(1.6);
  }
  80% {
    transform: scaleY(0.5);
  }
  90% {
    transform: scaleY(1.2);
  }
  100% {
    transform: translateX(0) scaleY(1);
  }
}
@keyframes enemyAppears {
  0% {
    transform: translateX(200%) scaleY(1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(0.8);
  }
  70% {
    transform: scaleY(1.6);
  }
  80% {
    transform: scaleY(0.5);
  }
  90% {
    transform: scaleY(1.2);
  }
  100% {
    transform: translateX(0) scaleY(1);
  }
}
@keyframes isKO {
  0% {
    height: 15rem;
    opacity: 1;
  }
  10% {
    height: 15.5rem;
    opacity: 1;
  }
  25% {
    height: 15rem;
    opacity: 1;
  }
  90% {
    height: 10rem;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@keyframes messageBubble {
  0% {
    opacity: 1;
    transform: translateY(8px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(7px);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.starter {
  background: beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
}
.starter__title {
  font-size: 5rem;
  font-family: "Jersey 20", "Jost";
  color: rgb(71, 120, 255);
  margin-top: 0;
  padding-top: 5rem;
  padding-bottom: 2rem;
  transform: translateX(-100%);
  animation: playerAppears 1.5s 0.3s cubic-bezier(0.82, -0.2, 0.24, 0.96) forwards;
}
.starter__subtitle {
  font-family: "Jersey 20", "Jost";
  font-size: 2rem;
  color: rgba(54, 105, 146, 0.795);
  margin: 0;
  padding-bottom: 4rem;
  opacity: 0;
  animation: breathingColored 1s ease-in-out alternate-reverse infinite 5.2s;
}
.starter .container-balls {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  padding-inline: 12%;
}
.starter .pokeball {
  width: 11.3rem;
  height: 11.3rem;
  cursor: pointer;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0);
  transition: transform 1.7s ease 1.7s, opacity 0.7s ease-in-out 1.7s;
}
.starter .pokeball.visible {
  opacity: 1;
  transform: scale(1);
}
.starter .pokeball:hover {
  animation: pokeball 1s cubic-bezier(0.8, 0.29, 0.83, 0.67) forwards;
  box-shadow: 10px 20px 60px rgba(63, 1, 1, 0.205);
}
.starter .pokeball.disabled {
  pointer-events: none;
  box-shadow: none;
  animation: pokeballDisabled 2.3s 0.5s ease-in-out forwards;
}
.starter .pokemon {
  opacity: 0;
  -o-object-fit: fill;
     object-fit: fill;
  width: 11.3rem;
  height: auto;
  animation: reveal 1.5s 0.5s ease-out forwards;
}
.starter .message-wrapper {
  margin-top: 7.5rem;
}
.starter .message-wrapper .pokeball-message {
  opacity: 0;
  animation: pokeballmessage 0.6s 2s ease-out forwards;
  font-family: "Pixelify Sans", "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  color: rgb(87, 78, 78);
}

.fight-link-wrap {
  text-align: center;
  background-color: rgba(0, 0, 255, 0.582);
  padding-block: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  opacity: 0;
}
.fight-link-wrap__anim {
  animation: slideUp 1.5s forwards 2.5s;
}

.fight-link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.3s ease;
}
.fight-link:hover {
  font-size: 1.6rem;
  color: white;
  border-bottom: 1px solid rgb(221, 208, 180);
}/*# sourceMappingURL=starter.css.map */