@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");
.type-Feu:hover {
  background-color: rgba(226, 14, 14, 0.76);
  color: rgba(227, 235, 190, 0.96);
}

.type-Eau:hover {
  background-color: rgba(69, 122, 238, 0.863);
  color: rgba(227, 235, 190, 0.96);
}

.type-Plante:hover {
  background-color: rgb(39, 175, 62);
  color: wheat;
}

.type-Foudre:hover {
  background-color: rgb(238, 238, 0);
  color: black;
}

.type-Psy:hover {
  background-color: rgba(184, 73, 184, 0.87);
  color: rgba(227, 235, 190, 0.96);
}

.type-Poison:hover {
  background-color: rgba(95, 10, 77, 0.877);
  color: rgba(227, 235, 190, 0.96);
}

.type-Vol:hover {
  background-color: rgb(158, 179, 175);
  color: rgba(227, 235, 190, 0.96);
}

.type-Roche:hover {
  background-color: rgba(105, 105, 105, 0.836);
  color: rgba(227, 235, 190, 0.96);
}

.type-Combat:hover {
  background-color: rgba(134, 71, 12, 0.753);
  color: rgba(227, 235, 190, 0.96);
}

.type-Sol:hover {
  background-color: rgb(160, 141, 58);
  color: rgba(227, 235, 190, 0.96);
}

.type-Dragon:hover {
  background-color: rgb(56, 35, 46);
  color: rgba(227, 235, 190, 0.96);
}

.type-Tenebres:hover {
  background-color: rgba(29, 29, 29, 0.89);
  color: rgba(227, 235, 190, 0.96);
}

.type-Spectre:hover {
  background-color: rgba(130, 110, 141, 0.89);
  color: rgba(227, 235, 190, 0.96);
}

.type-Glace:hover {
  background-color: rgb(38, 201, 255);
  color: rgb(255, 246, 246);
}

.type-Insecte:hover {
  background-color: rgba(19, 78, 19, 0.87);
  color: rgba(227, 235, 190, 0.96);
}

.type-Normal:hover {
  background: linear-gradient(90deg, rgba(224, 238, 224, 0.719) 0%, rgba(184, 248, 164, 0.96) 93%);
  color: black;
}

.pokemon-resume {
  position: absolute;
  left: 35%;
  bottom: 35%;
  z-index: 200;
  border: 1px solid;
  border-radius: 8px;
  padding-bottom: 1rem;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.pokemon-resume__wrapper {
  padding: 8px;
}
.pokemon-resume__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-bottom: 8px;
}
.pokemon-resume__img {
  image-rendering: pixelated;
  width: 15rem;
  max-height: 9rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 1rem;
}
.pokemon-resume__name {
  font-family: "Jersey 20", "Jost";
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: 2.5rem;
}
.pokemon-resume__type {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  margin-left: 2.5rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-resume__type[class*=feu] {
  background: #f05630;
  color: white;
}
.pokemon-resume__type[class*=eau] {
  background: #6890f0;
  color: white;
}
.pokemon-resume__type[class*=plante] {
  background: #78c850;
  color: white;
}
.pokemon-resume__type[class*=foudre] {
  background: #face1e;
  color: white;
}
.pokemon-resume__type[class*=psy] {
  background: #f85888;
  color: white;
}
.pokemon-resume__type[class*=combat] {
  background: #c03028;
  color: white;
}
.pokemon-resume__type[class*=normal] {
  background: #a8a878;
  color: white;
}
.pokemon-resume__type[class*=vol] {
  background: #a890f0;
  color: white;
}
.pokemon-resume__type[class*=poison] {
  background: #a040a0;
  color: white;
}
.pokemon-resume__type[class*=sol] {
  background: #ad9246;
  color: white;
}
.pokemon-resume__type[class*=roche] {
  background: #acaaa2;
  color: white;
}
.pokemon-resume__type[class*=insecte] {
  background: #a8b820;
  color: white;
}
.pokemon-resume__type[class*=spectre] {
  background: #705898;
  color: white;
}
.pokemon-resume__type[class*=dragon] {
  background: #7038f8;
  color: white;
}
.pokemon-resume__type[class*=tenebres] {
  background: #252423;
  color: white;
}
.pokemon-resume__type[class*=acier] {
  background: #b8b8d0;
  color: white;
}
.pokemon-resume__type[class*=fee] {
  background: #ee99ac;
  color: white;
}
.pokemon-resume__type[class*=glace] {
  background: #98d8d8;
  color: white;
}
.pokemon-resume__hp {
  margin-left: auto;
  margin-right: 2.5rem;
  margin-top: 1rem;
  background-color: rgb(203.0473933649, 248.9526066351, 204.4218009479);
  padding-block: 3px;
  padding-inline: 20px;
  border: 1px solid green;
  border-radius: 10px;
}
.pokemon-resume__moveset {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
  margin-inline: 1rem;
}
.pokemon-resume__moveset__card {
  background-color: beige;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.pokemon-resume__moveset__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px dashed;
  border-radius: 4px;
  padding-bottom: 4px;
}
.pokemon-resume__moveset__name {
  font-weight: 600;
  font-size: 1.1rem;
}
.pokemon-resume__moveset__type {
  font-size: 14px;
  padding-inline: 6px;
  border-radius: 10px;
}
.pokemon-resume__moveset__type[class*=feu] {
  background: #f05630;
  color: white;
}
.pokemon-resume__moveset__type[class*=eau] {
  background: #6890f0;
  color: white;
}
.pokemon-resume__moveset__type[class*=plante] {
  background: #78c850;
  color: white;
}
.pokemon-resume__moveset__type[class*=foudre] {
  background: #face1e;
  color: white;
}
.pokemon-resume__moveset__type[class*=psy] {
  background: #f85888;
  color: white;
}
.pokemon-resume__moveset__type[class*=combat] {
  background: #c03028;
  color: white;
}
.pokemon-resume__moveset__type[class*=normal] {
  background: #a8a878;
  color: white;
}
.pokemon-resume__moveset__type[class*=vol] {
  background: #a890f0;
  color: white;
}
.pokemon-resume__moveset__type[class*=poison] {
  background: #a040a0;
  color: white;
}
.pokemon-resume__moveset__type[class*=sol] {
  background: #ad9246;
  color: white;
}
.pokemon-resume__moveset__type[class*=roche] {
  background: #acaaa2;
  color: white;
}
.pokemon-resume__moveset__type[class*=insecte] {
  background: #a8b820;
  color: white;
}
.pokemon-resume__moveset__type[class*=spectre] {
  background: #705898;
  color: white;
}
.pokemon-resume__moveset__type[class*=dragon] {
  background: #7038f8;
  color: white;
}
.pokemon-resume__moveset__type[class*=tenebres] {
  background: #252423;
  color: white;
}
.pokemon-resume__moveset__type[class*=acier] {
  background: #b8b8d0;
  color: white;
}
.pokemon-resume__moveset__type[class*=fee] {
  background: #ee99ac;
  color: white;
}
.pokemon-resume__moveset__type[class*=glace] {
  background: #98d8d8;
  color: white;
}
.pokemon-resume__moveset__stats {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}
.pokemon-resume__moveset__pp {
  font-weight: 600;
}
.pokemon-resume__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  border-radius: 5px;
  font-family: "Jersey 20", "Jost";
  background-color: rgba(228, 163, 163, 0.911);
  color: white;
  cursor: pointer;
}
.pokemon-resume__close:hover {
  background-color: rgba(194, 50, 50, 0.911);
}/*# sourceMappingURL=pokemon-details.css.map */